In [2]:
import pandas as pd

In [5]:
a=[13,341,56]
r=pd.Series(a)
print(r)

0     13
1    341
2     56
dtype: int64

In [8]:
a=[13,341,56]
r=pd.Series(a,index=[1,2,3])
print(r)

1     13
2    341
3     56
dtype: int64

In [17]:
r=pd.read_csv('medal.csv')
print(r)

         country  gold_medal
0  United States        46.0
1  Great Britian        27.0
2          China        26.0
3         Russia        19.0
4        Germany        17.0
5          India         NaN

In [22]:
r=pd.read_csv('medal.csv')
mean=r['gold_medal'].mean()
r['gold_medal'].fillna(mean,inplace=True)
print(r)

         country  gold_medal
0  United States        46.0
1  Great Britian        27.0
2          China        26.0
3         Russia        19.0
4        Germany        17.0
5          India        27.0